.button {
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 110px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}

.raisedButton {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
.raisedButton:hover {
  cursor: pointer;
  background-color: #1976d2;
}

.flatButton {
  color: #2196f3;
}

.flatButton:hover {
  cursor: pointer;
  background-color: rgba(33, 150, 243, 0.08);
}

.iconStyle {
  margin-right: 5px;
}
